<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stock Analysis</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Open Price', 'Closing Price'],
          {% for row in data %}
            ['{{ row.date }}',{{ row.open }}, {{ row.close }}],
          {% endfor %}
        ]);
        
        var options = {
          title: '{{ ticker }}',
          legend: { position: 'upper' },
          chartArea: { width: '65%', height: '65%' },
          hAxis: { title: 'DATE' },
          vAxes: {
            0: { title: 'OPEN_PRICE' },
            1: { title: 'CLOSE_PRICE', gridlines: { color: 'transparent' }}
          },
          series: {
            0: { targetAxisIndex: 1 }
          }
        };
        
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>    
    <style>
      .form-control {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>

  <!-- Favicons -->
  <link href="{{url_for('static' ,filename = 'assets/img/favicon.png')}}" rel="icon">
  <style>
    body {
      background-color: white;
    }
  </style>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static' ,filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static' ,filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static' ,filename='assets/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="templates\index.html">Stock Data Analysis</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#analysis">Analysis</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Data Programming Final Project</h1>
          <h2>We are Team of Four Members</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        </div>
      </div>
    </div>

  </section><!-- End hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <ul>
              <li><i class="ri-check-double-line"></i>Stock Data Analysis is a student-run project that aims to provide reliable stock data and analysis to users.</li>
              <li><i class="ri-check-double-line"></i>Our platform focuses on the closing price versus date, making it easy for users to explore and analyze stock data. </li>
              <li><i class="ri-check-double-line"></i>We have used the Yahoo Finance API to fetch stock data and create graphs that visualize the trends and patterns of stock prices over time.</li>
            </ul>
            <!--<ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>-->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              As a student project, we understand that our resources are limited and our dataset is restricted to the stocks available on Yahoo Finance. Despite this, we are committed to delivering a high-quality service and enhancing our platform to meet the changing needs of our users.
              </p>
            <p>
              We value your support and feedback as we continue to develop our platform. Thank you for considering Stock Data Analysis for your stock data requirements.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Analysis Section ======= -->
    <section id="analysis" class="analysis section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Analysis</h2>
        </div>
          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
            <div class="content">
              <h3>Analysis For Stock <strong>{{ ticker }}</strong></h3>
              <div class="container-fluid mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <form method="post">
                      <div class="form-group">
                        <label for="ticker"><b>Stock Symbol:</b></label>
                        <input type="text" class="form-control" name="ticker" value="{{ ticker }}" required autocomplete="off" list="ticker-options">
                        <datalist id="ticker-options">
                          <option value="AAPL">
                          <option value="GOOGL">
                          <option value="MSFT">
                          <option value="AMZN">
                          <option value="DOW">
                        </datalist>
                      </div>
                      <div class="form-group">
                        <label for="start_date"><b>Start Date:</b></label>
                        <input type="date" class="form-control" name="start_date" value="{{ start_date }}" required>
                      </div>
                      <div class="form-group">
                        <label for="end_date"><b>End Date:</b></label>
                        <input type="date" class="form-control" name="end_date" value="{{ end_date }}" required>
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
                      </div>
                    </form>          
                  </div>
                  <div class="col-md-6">
                    <div id="chart_div" style="width: 250%; height: 400px;"></div>
                    <div id="loading-spinner" class="text-center" style="display: none;">
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <div id="success-message" class="text-success mt-3" style="display: none;">Chart updated successfully.</div>
                  </div>
                </div>
              </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Analysis Section -->

    <!--<section id="analysis" class="analysis section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Analysis</h2>-->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='assets/img/team/member-1.jpg')}}" style="width:300px; height: 180px;" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Yeshwanthi Vaddadi</h4>
                <span>Project Manager</span>
                <p>Manage the Deliverable of the Project</p>
                <div class="social">
                  <a href="mailto:yeshwanthivadadi89@gmail.com"><i class="ri-mail-fill"></i></a>
                  <a href="https://www.linkedin.com/in/vaddadi-y-071aa4138"> <i class="ri-linkedin-box-fill"></i> 
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='assets/img/team/member-2-2.png')}}" style="width:300px; height: 190px;"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Aniket Walse</h4>
                <span>Developer</span>
                <p>FrontEnd and BackEnd Developer</p>
                <div class="social">
                  <a href="mailto:aniket.walse20@gmail.com"><i class="ri-mail-fill"></i></a>
                  <a href="https://www.linkedin.com/in/aniket-walse-98876a113/"> <i class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='assets/img/team/member-3.jpg')}}" style="width:300px; height: 180px;"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Rohit Varma Tirumalaraju</h4>
                <span>Data Analyst</span>
                <p>Data Management</p>
                <div class="social">
                  <a href="mailto:rohitv.3199@gmail.com"><i class="ri-mail-fill"></i></a>
                  <a href="https://www.linkedin.com/in/rohitvarma31"> <i class="ri-linkedin-box-fill"></i> 
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{{url_for('static', filename='assets/img/team/member-4.jpg')}}" style="width:350px; height: 180px;"  class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Saran Kumar Kumar Manjusharani</h4>
                <span>Business Analyst</span>
                <p>Documentation for Project</p>
                <div class="social">
                  <a href="mailto:sarankumarkm97@gmail.com"><i class="ri-mail-fill"></i></a>
                  <a href="https://www.linkedin.com/in/saran-kumar-504605195/"> <i class="ri-linkedin-box-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Stock Data Analysis</h3>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#analysis">Analysis</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team Profile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://twitter.com/Walse_Aniket" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="mailto:aniket.walse20@gmail.com" class="ri-mail-fill"></i></a>
              <a href="https://www.linkedin.com/in/aniket-walse-98876a113/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Group-1</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static' ,filename = 'assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static' ,filename = 'assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static' ,filename = 'assets/js/main.js')}}"></script>

</body>

</html>